/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/views/test
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.DS_Store
_ide_helper.php
/mix-manifest.json
ubuntu-xenial-16.04-cloudimg-console.log